{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery | {% if title %}{{ title }}{% else %}Homepage {% endif %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    {% block head_end %}{% endblock %}
</head>
<body>
<div class="nav">
    <ul>
        {% block topnave %}{% endblock %}
        <li><a class="active" href="{% url 'list' %}">Home</a></li>
        <li class="right"><a href="{% url 'albums' %}">Upload</a></li>
    </ul>
</div>
{% block body %}{% endblock %}

{# footer #}

{% block body_end %}{% endblock %}
</body>
</html>
