{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery | {% if title %}{{ title }}{% else %}Homepage {% endif %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    {% block head_end %}{% endblock %}
</head>
<body>
<div class="nav">
    <ul>
        {% block topnave %}{% endblock %}
        {% for nav_category in navbar.categories.all %}
            <li><a class="{% if nav_category.id == category.id %}active{% endif %}"
                   href="{% url 'list' nav_category.user_id nav_category.slug %}">
                {{ nav_category }}
            </a></li>
        {% endfor %}
        {% if request.user == category.user %}
            <li class="right"><a href="{% url 'categories' %}">Upload</a></li>
        {% endif %}
    </ul>
</div>
{% block body %}{% endblock %}

{# footer #}

{% block body_end %}{% endblock %}
</body>
</html>
