{% extends 'gallery/base.html' %}
{% load static %}
{% load size_utils %}

{% block head %}
    <link rel="stylesheet" href="{% static 'photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'photoswipe/default-skin.css' %}">
{% endblock %}

{% block body %}
    <div class="swipe-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        {% for photo in photo_objects %}

            <figure itemprop="associatedMedia"
                    data-download_url="{{ photo|url:1920 }}"
                    {% if request.user == category.user %}
                        data-delete_url="{% url 'delete' category.id photo.uuid %}"
                    {% endif %}
                    itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ photo|url:1080 }}" itemprop="contentUrl" data-size="{{ photo|get_photo_dimensions:1080 }}">
                    <img src="{{ photo|url:25 }}" data-src="{{ photo|url:480 }}" class="lazy" itemprop="thumbnail" alt="{{ photo.title }}" />
                </a>
                <figcaption itemprop="caption description">{{ photo.title }}</figcaption>
            </figure>

        {% endfor %}
    </div>
{% endblock %}

{% block body_end %}
    {% include 'gallery/include/photoswipe_element.html' %}
    <script src="{% static 'photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'photoswipe/photoswipe-ui-default.js' %}"></script>
    <script src="{% static 'js/photoswipe-init.js' %}"></script>
    <script src="{% static 'js/lazy-load.js' %}"></script>
{% endblock %}
